*{
	margin:	0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'EB Garamond', serif;
}

header{
	height: 105vh;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	justify-content: center;
	display: flex;
	font-size: 50px;
	align-items: center;
}

/*nav bar*/

nav {
	height: .1px;
	background-color: rgba(0,0,0,0.1);
	border-bottom: 2px transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	color: white;

}

nav > ul {
	display: flex;
	list-style-type: none;

}

nav > ul > li {
	margin: 0 20px;
	font-size: 30px;
}

.aboutmebtn, .projectsbtn, .skillsbtn, .contactbtn {
		font-size: 20px;
}		

.aboutmebtn:hover {
	background-color: red;
	transition: .5s;
	font-size: 50px;
}

.projectsbtn:hover {
	background-color: red;
	transition: .5s;
	font-size: 50px;
}

.skillsbtn:hover {
	background-color: red;
	transition: .5s;
	font-size: 50px;
}

.contactbtn:hover {
	background-color: red;
	transition: .5s;
	font-size: 50px;
}

.btn:hover{
	background-color: red;
	transition: .5s;
}

/*section page*/



section {
	height: 100vh;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;

}

section > .divider {
	justify-content: space-around;
}

.divider {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.divider > div {

}

.left {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/giboy.jpg);
	height: 50vh;
	width: 50vh;
	border-radius: 50%;
	display: block;
	margin: 0 auto;


}

.right {
	background-color: salmon;
	font: 80px;
	text-align: center;
}
/*/third section*/

.third-div {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 80px;
}



	

/*media queries for IPAD*/

@media only screen and (min-width: 377px) and (max-width: 770px){
	.left {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/giboy.jpg);
	height: 20vh;
	width: 20vh;
	border-radius: 50%;
	display: block;
	margin: 0 auto;


}


}

/*media queries for Iphone*/

@media only screen and (max-width: 376px){
	.aboutmebtn, .projectsbtn, .skillsbtn, .contactbtn {
		font-size: 20px;
	}
}